---
import Heading from "../components/Heading.astro";
import Statement from "../components/Statement.astro";
import Layout from "../layouts/Page.astro";
---

<Layout title="About Me" description="">
  <article class="block">
    <section class="content">
      <header>
        <Heading level={3}>Long Nguyen : code artificer</Heading>
      </header>
      <Statement>
        I combine art, design, and code to bring my imagination alive. I love it
        so much!
      </Statement>
      <p>
        I'm a front-end software engineer that has been coding for about 10
        years. I'm quite the romantic and dreamer about art and design. I
        daydream visual ideas and attempt to code it. After all, I'm coding
        because I'm also a designer. And to me, great design is about solving
        visual problems to empower people and the human spirit. This is directly
        in line with front-end engineering. I'm madly obsessed with visual
        fidelity whether that's in a11y, aesthetics, performance, motion, or
        anything else your eyes can see.
      </p>
      <p>
        My experience is mainly in the JavaScript ecosystem including NodeJS,
        React, and Typescript. If it's on a browser and there's a visual, I can
        make it real. Outside of that, I can speak Java, Python, and C. I love
        tinkering with these ecosystems because there are interfaces possible
        beyond the browser. I also toy with backend and cloud tech too if I'm
        hungry to play with data.
      </p>
      <p>
        Outside of my day work, I love making art and visuals. I play video
        games, work out, cook, get inspired by life and make art. Nowadays,
        intersecting graphics design and technical art has been a wonderful
        creative exercise. I hope I get good enough to make truly unfathomable
        and impossible interfaces — ones only Long Nguyen would ever think of.
      </p>
    </section>
    <section class="gallery"></section>
  </article>
</Layout>

<style>
  article {
    margin: var(--spacing-xxl) auto;
  }

  .content {
    margin: auto;
    max-width: 40ch;
  }

  @media screen and (min-width: 768px) {
    .content {
      margin: 10rem 0;
    }
  }
</style>
