---
interface Props {
  title: string;
  links: {
    displayText: string;
    url: string;
  }[];
}

const { title, links } = Astro.props;
---

<Fragment>
  <h2>{title} ↘</h2>
  <ul>
    {
      links.map((link) => {
        return (
          <li>
            <a href={link.url}>{link.displayText}</a>
          </li>
        );
      })
    }
  </ul>
</Fragment>

<style>
  h2 {
    font-weight: 400;
    font-size: 1rem;
    text-transform: uppercase;

    margin-bottom: var(--spacing-sm);
  }

  ul {
    margin: 0;
    margin-top: var(--spacing-sm);
    margin-bottom: var(--spacing-xl);
    padding: 0;
  }

  li {
    list-style: none;

    font-size: 3rem;

    margin: var(--spacing-sm) auto;
  }
</style>
