---
import FooterList from "./FooterList.astro";
import Copyright from "./Copyright.astro";
import { FOOTER_LIST_LINKS, FOOTER_LIST_SOCIALS } from "../consts";
---

<footer class="block">
  <div class="container">
    <section class="links">
      <FooterList
        title={FOOTER_LIST_LINKS.title}
        links={FOOTER_LIST_LINKS.links}
      />
      <FooterList
        title={FOOTER_LIST_SOCIALS.title}
        links={FOOTER_LIST_SOCIALS.links}
      />
    </section>
    <Copyright />
  </div>
</footer>

<style>
  footer {
    flex-shrink: 0;
  }

  @media screen and (min-width: 768px) {
    section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: var(--spacing-xxl);
    }
  }
</style>
