---
import { SITE_TITLE } from "../consts";
---

<header>
  <nav>
    <h2><a href="/">{SITE_TITLE}</a></h2>
    <div class="links-container">
      <div class="links-cta">
        <a href="">Contact</a>
      </div>
      <button class="menu">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 32 32"
          fill="none"
        >
          <rect x="4" y="8" width="24" height="2" fill="black"></rect>
          <rect x="4" y="22" width="24" height="2" fill="black"></rect>
          <rect x="4" y="15" width="24" height="2" fill="black"></rect>
        </svg>
      </button>
    </div>
  </nav>
</header>

<style>
  header {
    margin: 1rem 1.5rem;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 400;

    margin: 0;
    margin-right: auto;
  }

  nav {
    display: flex;
    flex-flow: row nowrap;
  }

  .links-container {
    display: flex;
    flex-flow: row nowrap;
  }

  .menu {
    margin-left: 0.5rem;
  }
</style>
