---
import { SITE_TITLE } from "../consts";
---

<header class="section">
  <nav>
    <h2><a href="/">{SITE_TITLE}</a></h2>
    <div class="links-container">
      <ul class="links-list">
        <li class="desktop-only"><a href="">Art</a></li>
        <li class="desktop-only"><a href="">Blog</a></li>
        <li class="desktop-only"><a href="">Portfolio</a></li>
        <li><a href="">Contact</a></li>
      </ul>
      <button class="menu mobile-only">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 32 32"
          fill="none"
        >
          <rect x="4" y="8" width="24" height="2" fill="black"></rect>
          <rect x="4" y="22" width="24" height="2" fill="black"></rect>
          <rect x="4" y="15" width="24" height="2" fill="black"></rect>
        </svg>
      </button>
    </div>
  </nav>
</header>

<style>
  header {
    position: fixed;

    right: 0;
    left: 0;
    bottom: 0;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 400;

    margin: 0;
    margin-right: auto;
  }

  nav {
    margin: 1.5rem;

    display: flex;
    flex-flow: row nowrap;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;

    margin: 0 0.5rem;
  }

  .links-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
  }

  .links-list {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
  }

  .menu {
    position: relative;
    top: 0.5rem;

    margin-left: 0.5rem;
  }

  @media screen and (min-width: 325px) {
    .links-container {
      align-items: unset;
    }

    .links-list {
      align-items: unset;
    }

    .menu {
      position: unset;
    }
  }

  @media screen and (min-width: 769px) {
    header {
      position: static;
    }

    .mobile-only {
      display: none;
    }
  }

  @media screen and (max-width: 768px) {
    .desktop-only {
      display: none;
    }
  }
</style>
