---
interface Props {
  links: {
    displayText: string;
    url: string;
  }[];
}

const { links } = Astro.props;
---

<div class="section">
  <div class="wrapper">
    <p>
      <slot />
    </p>
    <ul>
      {
        links.map((link) => {
          return (
            <li>
              <a href={link.url}>{link.displayText}</a>
            </li>
          );
        })
      }
    </ul>
  </div>
</div>

<style>
  ul {
    padding: 0;

    list-style: none;
  }

  p {
    margin-bottom: var(--spacing-md);
  }

  .wrapper {
    margin: var(--spacing-xxl) var(--spacing-md);
  }
</style>
