---
interface Props {
  links: {
    displayText: string;
    url: string;
  }[];
}

const { links } = Astro.props;
---

<div class="section">
  <div class="wrapper">
    <p>
      <slot />
    </p>
    <ul>
      {
        links.map((link) => {
          return (
            <li>
              <a href={link.url}>{link.displayText}</a>
            </li>
          );
        })
      }
    </ul>
  </div>
</div>

<style>
  ul {
    padding: 0;

    list-style: none;
  }

  p {
    margin-bottom: var(--spacing-md);
  }

  .wrapper {
    max-width: 512px;

    margin-top: var(--spacing-xxl);
    margin-bottom: 6rem;
  }

  @media screen and (min-width: 768px) {
    ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: auto;
    }

    .wrapper {
      margin-top: 8rem;
      margin-bottom: 10rem;
    }
  }
</style>
