---
interface Props {
  links: {
    displayText: string;
    url: string;
  }[];
}

const { links } = Astro.props;
---

<p>
  <slot />
</p>

<ul>
  {
    links.map((link) => {
      return (
        <li>
          <a href={link.url}>{link.displayText}</a>
        </li>
      );
    })
  }
</ul>
