<div class="container">
  <slot />
</div>

<style>
  .container {
    position: relative;

    display: flex;
    flex-flow: column nowrap;

    padding: var(--spacing-sm) var(--spacing-md);
  }

  @media screen and (min-width: 768px) {
    .container {
      padding: var(--spacing-lg) 6rem;
    }
  }
</style>
