<div class="container">
  <slot />
</div>

<style>
  .container {
    position: relative;

    display: flex;
    flex-flow: column nowrap;

    padding: var(--spacing-sm) var(--spacing-md);
  }
</style>
