<section class="section">
  <div class="wrapper">
    <p class="text-lg">
      Design and code deserve an artisan’s love and care. I intersect art,
      design, and software to make bespoke and craft experiences that delight.
    </p>
    <p>
      Design is a medium to empower people and ideas. Code brings life to
      design, so I always design with software intention. I love seeing both
      serve and amuse people.
    </p>
    <div><a>About Me ↘</a></div>
  </div>
</section>

<style>
  .text-lg {
    font-size: 2.5rem;
  }
  .wrapper {
    margin: var(--spacing-sm) var(--spacing-md);
  }

  a {
    text-decoration: underline;
  }
</style>
