---
import WorkCard from "../components/WorkCard.astro";
---

<div class="container">
  <WorkCard
    title="MANAWAVE"
    role="Open-source JS library"
    description="Build a tested performant, configurable, 360-degree directional marquee."
    url="/portfolio/manawave"
    coverURL="/portfolio/manawave/cover.webp"
  />
  <WorkCard
    title="MOBI"
    role="President / Designer"
    description="Lead student organization dedicated to campus software engineering mentorship, empowerment, and fun."
    url="/portfolio/mobi"
    coverURL="/portfolio/mobi/cover.webp"
  />
  <WorkCard
    title="Gozova"
    role="Front-end development"
    description="Develop and optimize startup website, app, and services."
    url="/portfolio/gozova"
    coverURL="/portfolio/gozova/cover.webp"
  />
  <WorkCard
    title="Zeal IT Consultants"
    role="Web development"
    description="Build two customized websites for clientele."
    url="/portfolio/zealitconsultants"
    coverURL="/portfolio/zealitconsultants/cover.webp"
  />
</div>

<style>
  .container > :global(*) {
    /* margin-bottom: var(--spacing-md); */
  }

  @media screen and (min-width: 768px) {
    .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: var(--spacing-xl);
    }
  }
</style>
