<div class="container">
  <h3>MANAWAVE • DESIGNER / ENGINEER</h3>
  <div class="placeholder">
    <!-- <img /> -->
  </div>
  <p>
    An open-source controllable, configurable, omnidirectional marquee, and
    design experiment.
  </p>
</div>

<style>
  h3 {
    font-weight: 400;
    font-size: 1rem;

    margin: 0;
  }

  p {
    font-size: 0.75rem;
    opacity: 0.5;

    margin: 0;
  }

  .container {
    display: flex;
    flex-flow: column nowrap;

    row-gap: var(--spacing-sm);

    margin: var(--spacing-sm) auto;

    max-width: 512px;
  }

  .placeholder {
    background: #272727;
    aspect-ratio: 3 / 2;

    max-height: 200px;
  }
</style>
