---
interface Props {
  title: string;
  role: string;
  description: string;
  url: string;
}

const { title, role, description, url } = Astro.props;
---

<div class="container">
  <h3>{title} • <br /> <span class="fade">{role}</span></h3>
  <a href={url}>
    <div class="placeholder">
      <!-- <img /> -->
    </div>
  </a>
  <p>
    {description}
  </p>
</div>

<style>
  h3 {
    font-weight: 400;
    font-size: 1rem;

    text-transform: uppercase;

    margin: 0;
  }

  p {
    font-size: 1rem;
    opacity: 0.5;

    margin: 0;
  }

  .container {
    display: flex;
    flex-flow: column nowrap;

    row-gap: var(--spacing-sm);

    margin: var(--spacing-sm) auto;

    width: 100%;
  }

  .placeholder {
    background: #272727;
    aspect-ratio: 3 / 2;
  }

  .fade {
    opacity: 50%;
  }

  @media screen and (min-width: 768px) {
    .container {
      max-width: 512px;
    }
  }
</style>
