---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import PageLayout from "../components/PageLayout.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <PageLayout
      vertical
      horizontal={false}
      class="flex flex-columns flex-nowrap"
    >
      <Header />
      <PageLayout>
        <main>
          <slot />
        </main>
        <Footer />
      </PageLayout>
    </PageLayout>
  </body>
</html>
