---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Introduction from "../components/Introduction.astro";
import PageLayout from "../components/PageLayout.astro";
import Statement from "../components/Statement.astro";
import WorkPreview from "../components/WorkPreview.astro";
import { SITE_TITLE, SITE_DESCRIPTION, INTRODUCTION } from "../consts";
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <PageLayout
      vertical
      horizontal={false}
      class="flex flex-columns flex-nowrap"
    >
      <Header />
      <PageLayout>
        <main>
          <slot />
        </main>
        <Footer />
      </PageLayout>
    </PageLayout>
  </body>
</html>
