---
import { SITE_TITLE } from "../../consts";
import PageLayout from "./PageLayout.astro";
---

<header>
  <PageLayout type="padding">
    <div class="block">
      <nav>
        <!-- <div id="mobile-links-menu" class="mobile-only container-menu-mobile">
          <ul class="links-list">
            <li><a href="/portfolio">Portfolio</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/art">Artwork</a></li>
          </ul>
        </div> -->
        <div class="container-actions">
          <h2><a href="/">{SITE_TITLE}</a></h2>
          <div class="links-container">
            <ul class="links-list">
              <!-- <li class="desktop-only"><a href="/portfolio">Portfolio</a></li>
              <li class="desktop-only"><a href="/blog">Blog</a></li>
              <li class="desktop-only"><a href="/art">Artwork</a></li> -->
              <li><a href="/contact">Contact</a></li>
            </ul>
            <!-- <button id="mobile-button-links-menu" class="menu mobile-only">
              <svg
                class="open"
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                viewBox="0 0 32 32"
                fill="none"
              >
                <rect x="4" y="8" width="24" height="2" fill="black"></rect>
                <rect x="4" y="22" width="24" height="2" fill="black"></rect>
                <rect x="4" y="15" width="24" height="2" fill="black"></rect>
              </svg>
              <svg
                class="close removed"
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                viewBox="0 0 32 32"
                fill="none"
              >
                <rect
                  x="7"
                  y="24"
                  width="26"
                  height="2"
                  transform="rotate(-45 7 24)"
                  fill="#2D1724"></rect>
                <rect
                  x="8.41422"
                  y="6"
                  width="26"
                  height="2"
                  transform="rotate(45 8.41422 6)"
                  fill="#2D1724"></rect>
              </svg>
            </button> -->
          </div>
        </div>
      </nav>
    </div>
  </PageLayout>
</header>

<script>
  window.addEventListener("load", () => {
    const mobileLinksMenu = document.getElementById("mobile-links-menu");
    const mobileButtonLinksMenu = document.getElementById(
      "mobile-button-links-menu",
    );

    mobileButtonLinksMenu?.addEventListener("click", () => {
      mobileLinksMenu?.classList.toggle("active");
      document.body.classList.toggle("no-scroll");

      mobileButtonLinksMenu
        ?.querySelector(".close")
        ?.classList.toggle("removed");
      mobileButtonLinksMenu
        ?.querySelector(".open")
        ?.classList.toggle("removed");
    });
  });
</script>

<style>
  header {
    background: var(--color-bg-main);

    position: sticky;
    bottom: 0;

    order: 2;

    z-index: 10;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 400;

    margin: 0;
    margin-right: auto;
  }

  nav {
    position: relative;
  }

  .container-actions {
    padding: var(--spacing-md) 0;

    display: flex;
    flex-flow: row nowrap;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;

    margin: 0 var(--spacing-sm);
  }

  .links-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
  }

  .links-list {
    display: flex;
    align-items: flex-end;
  }

  .container-actions .links-list {
    flex-flow: row nowrap;
  }

  .container-menu-mobile .links-list {
    flex-flow: column nowrap;
  }

  .container-menu-mobile .links-list {
    font-size: 3rem;
  }

  .container-menu-mobile {
    padding: var(--spacing-md);

    position: absolute;
    inset: 0;
    top: auto;
    bottom: 100%;

    text-align: right;

    display: none;

    background: var(--color-bg-main);
  }

  .container-menu-mobile.active {
    display: initial;
  }

  .menu {
    position: relative;
    top: var(--spacing-sm);

    margin-left: var(--spacing-sm);
  }

  body.no-scroll {
    overflow: hidden;
  }

  .removed {
    display: none;
  }

  /* Extremely Small Mobile Devices*/
  @media screen and (min-width: 325px) {
    .links-container {
      align-items: unset;
    }

    .links-list {
      align-items: unset;
    }

    .menu {
      position: unset;
    }
  }

  /* Desktop Styles */
  @media screen and (min-width: 769px) {
    header {
      order: 0;

      bottom: unset;
      top: 0;
    }

    .mobile-only {
      display: none;
    }
  }

  /* Mobile Styles */
  @media screen and (max-width: 768px) {
    .desktop-only {
      display: none;
    }
  }
</style>
